/* =============
    Typography
============= */


//font-family: 'Jost', sans-serif;
//font-family: 'Montserrat', sans-serif;

@mixin mainheadline($color) {
    font-family: Montserrat;
	font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;    
}

@mixin headline($color) {
    font-family: Montserrat;
	font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin subhead($color) {
    font-family: Jost;
	font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin body($color) {
    font-family: Jost;
	font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin title($color) {
    font-family: Monterrat;
	font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin price($color) {
    font-family: Monterrat;
	font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin information($color) {
    font-family: Monterrat;
	font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

@mixin btn-font () {
    font-family: Jost;
    font-weight: 700;
    letter-spacing: 2px;
}


@mixin header($color) {
    font-family: Monterrat;
	font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 0 20px;
    color: $color;
}

h1{
    @include mainheadline(teal); 
    font-size: 50px;
    
}

h2{
    @include subhead(white);
    font-size: 25px;
    
}

h3{
    @include headline(black);
    font-size: 30px;
}

h4{
    @include price(black);
    font-size: 15pt; 
}

h5{
    @include title(black);
    font-size: 25pt; 
}

h6{
    @include information(black);
    font-size: 15pt; 
}

p{
    @include body(black);
    font-size: 10pt; 
}

a{
    @include header(black);
    font-size: 13pt;
}



