/* =============
    Typography
============= */


//font-family: 'Jost', sans-serif;
//font-family: 'Montserrat', sans-serif;

h1 {
	font-family: Montserrat;
	font-weight: Bold;
    font-size: 30pt;
   --teal: #4691A3;
}

h2{
    font-family: Montserrat;
	font-weight: Bold;
    font-size: 20pt;
}

h4{
    font-family: Jost;
	font-weight: Medium;
    font-size: 10pt;
}

p{
    font-family: Jost;
	font-weight: Regular;
    font-size: 15pt; 
}