#hero{
  
    display: grid;
    justify-content: center;

    div.centered{
        text-align: center;
    }

    #heroimg{
        width: 100%;
        position: relative;
        z-index: 0;
    }

    div.lefttext{
       
        text-align: left;
        position: absolute;
        top: 0;
    }

    img{
        width: 100%;
    }
}



