#product {

  
.purchasing {
    display: flex;
    justify-content: center;
  
}

}


div.title{
    text-align: center;
}
  

.productimg{

img{
    width: 100%;
  

 
}
}



.bottomtext{
    text-align: center;

}


