#product {

  
.purchasing {
    display: flex;
    justify-content: center;
    gap: 40px;
  
}

}


div.title{
    text-align: center;
}
  

.productimg{
     display: grid;
justify-content: center;
text-align: center;


img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;


 
}
}



.bottomtext{
    text-align: center;

}


