#reviews{
   

}

.card-container {
    align-items: start;
    display: grid;
    justify-content: space-between;
    grid-gap: 56px;
    grid-template-columns: 1fr;
    justify-content: center;

   

    @include lg{ 
        align-items: start;
        display: grid;
        justify-content: space-between;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
}


div.card {
	background-color: $green;
    border-radius: 15px;
	text-align: center;
    


    img{
        width: 35%;
    }
  

}


#buttons{
    align-items: right;
    justify-content: right;
}


#people {
    display: flex;
}

