#review{


}

#incart{
    display: flex;
    justify-content: space-between;
      img{
        width: 20%;
    }  
}

#airfilter{
    display: flex;
    justify-content: space-between;
    img{
      width: 30%;
  }  

}

#warning{
    display: flex;

    img{
        width: 2%;
    }
}

  


 
